.center-class{
    text-align : center;
}

.loading{
    position: absolute;
    top:0%;
    left:0%;
    right:0%;
    bottom: 0%;
    line-height:56px;
    background: transparent url(../../image/loading.gif) no-repeat 48% 45%;
    opacity: 0.9;
    z-index:3000;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:5px;
}

.box9{
    margin: 40px auto;
    top:20%;
    width: 800px;
    min-height: 310px;
    padding: 10px;
    position:relative;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius:10px;
    background: white;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.box9 p{
    margin-top: 5px;
    text-align: center;
}

.box9 h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10%;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.box9 a{
    text-decoration: none;
    color: #4A4A4A !important;
}

.box9 a:hover{
    text-decoration: underline;
    color: #6B6B6B !important ;
}

.pogoSlider-slide-element a {
	font-size:16px;
	color:#000;
	text-decoration:none;
	font-weight:normal;

}
.pogoSlider-slide-element a:hover {
	background-color:transparent;
	border:1px solid lightgray;
	padding:8px 16px;
}


