<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <style>
        body{
            background-color: #fafafa;
		    background-size:100% 100%;
		    overflow:hidden;
	    }
        h1{
            font-size: 100px;
            font-family: 华文楷体;
            padding-top: 100px;
        }
        p{
            font-size: 40px;
            font-family: 华文楷体;
        }
    </style>
</head>
<body>
    <h1 align="center">404 Not Found</h1>
{#    <p align="center">错误信息：{{ message }}</p>#}
</body>
</html>