<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "css/Lib/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/Lib/bootstrap-datetimepicker.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/HR/roomManage.css" %}"/>
    <link rel="stylesheet" href="{% static "css/HR/uploadButton.css" %}"/>
    <link rel="stylesheet" href="{% static "css/HR/HRManage.css" %}"/>
    <link rel="stylesheet" href="{% static "css/Lib/toastr.css" %}"/>



    <title>HR管理房间</title>
</head>

<body style="background-color:#f7f7f7;">
    <!--导航条-->
    <header class="navbar navbar-inverse navbar-static-top" role="banner">
        <div class="container">
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <h4 class="pull-left" style="font-size: 24px;">HR管理系统</h4>
                <ul class="nav navbar-nav navbar-right">
                    <li class="lg_act" style="padding: 13px">
                        <span> {{ username }} |
                            <a href="javascript:logoutConfirm()"><span>退出 <span class="glyphicon glyphicon-log-out"></span></span></a>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <table class="struct_tbl">
            <tbody>
                <tr>
                    <td>
                        <div id="info_tree">
                            <div style="width: 180px;">
                                <h4><span class="glyphicon glyphicon-list" style="width: 18px;"></span>&nbsp;管理功能列表</h4>
                                <ul class='it_list  nav'>
                                    <li id="roomManage"><a><span>房间管理</span></a></li>
                                    <li id="candidateManage" ><a><span>候选人管理</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="panel_right" class="col">
                            <div  id="rightPanel" class="col" style="background: left no-repeat ; height: 80px; width: 100%; border-radius: 6px;">


     <figure>
         <div style="position:absolute;left:10%; top:47%; color:white"><h1>欢迎进入HR面试管理界面</h1></div>
        <img src="{% static "image/9.jpg" %}" width="100%" vspace="10" alt="img01"/>

    </figure>



                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 页脚 -->
    <footer class="bs-docs-footer">
        prj3-CandyInk
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/Lib/jquery.min.js" %}"></script>
    <script src="{% static "js/Lib/bootstrap.min.js" %}"></script>
    <script src="{% static "js/HR/HRManage.js" %}"></script>
    <script src="{% static "js/Lib/toastr.min.js" %}"></script>
    <script src="{% static "js/HR/functions.js" %}"></script>
    <script src="{% static "js/Lib/confirm.js" %}"></script>
</body>
</html>