<!-- __author__ = 'Liu Yixuan' -->
<div class="container-fluid">
{% if roomNumber == 0 %}
<div class="box9 container-fluid">
    <h1>尚无面试房间</h1>
        <p>点击</p>
        <div class="pogoSlider-slide-element" type="button" align="center" id="createNewRoom" data-toggle="modal" data-target=".bs-addroom-modal-lg">
            <a>创建面试房间</a>
        </div>
    </div>
{% else %}
    <div class = "container-fluid" align="right">
        <span class="row"></span>
        <button type="button" class="btn btn-link" id="addRoomButton"
        data-toggle="modal" data-target=".bs-addroom-modal-lg"><span class="glyphicon glyphicon-plus"></span> 创建面试房间</button>
    </div>
    <table class="table table-striped" id="roomItems">
        <thead>
            <tr>
                <th></th>
                <th class="center-class">面试房间</th>
                <th class="center-class">面试官</th>
                <th class="center-class">面试官邮箱</th>
                <th class="center-class">开始时间</th>
                <th class="center-class">候选人人数</th>
                <th class="center-class">操作</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in roomList %}
            <tr class="roomItem" name="{{item.id}}">
                <td class="center-class" name="{{item.id}}" ><img class="img-circle" width="30px" height="30px" src= '{{ item.logo.url }}' ></td>
                <td class="center-class" name="{{item.id}}" class="tdRoomName">{{ item.roomname }}</td>
                <td class="center-class" name="{{item.id}}" >{{  item.interviewername  }}</td>
                <td class="center-class" name="{{item.id}}" >{{  item.email  }}</td>
                <td class="center-class" name="{{item.id}}" >{{  item.starttime  }}</td>
                <td class="center-class" name="{{item.id}}" >{{ item.candidateNumber }}人</td>
                <td class="center-class" name="{{item.id}}">
                    <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm editRoomInfo" data-toggle="tooltip" title="编辑" name="{{item.id}}"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn btn-danger btn-sm deleteRoom" data-toggle="tooltip" title="删除" name="{{item.id}}"><span class="glyphicon glyphicon-trash"></span></button>
                            <button type="button" class="btn btn-info btn-sm sendEmailToInterviewer" data-toggle="tooltip" title="发送邮件" name="{{item.id}}"><span class="glyphicon glyphicon-envelope"></span></button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>



<!--创建房间信息模态框-->
<div class="modal fade bs-addroom-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="createRoomModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="loading hidden"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><strong>房间信息</strong></h4>
            </div>
            <div class="modal-body" id="createRoomModalBody">
                <div class="form-group">
                    <label for="roomName">房间名</label>
                    <input type="text" class="form-control" id="addRoom_nameInput" required="required" placeholder="请输入房间名">
                </div>
                <div class="form-group">
                    <label for="interviewerName">面试官姓名</label>
                    <input type="text" class="form-control"  id="addRoom_interviewerNameInput" required="required" placeholder="请输入面试官的姓名">
                </div>
                <div class="form-group">
                    <label for="interviewerEmail">面试官邮箱</label>
                    <input type="email" class="form-control" id="addRoom_interviewerEmailInput" required="required" placeholder="请输入面试官的邮箱">
                </div>
                <div class="form-group">
                    <label for="interviewStartTime">面试开始时间</label>
                    <div class="input-group date form_datetime col-md-5" data-link-field="interviewStartTime">
                        <input class="form-control" size="24" type="text" name="interviewStartTime" id="addRoom_interviewStartTimeInput" required="required" value="" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <a class="a-upload">
                        <input type="file" name="addRoom_logoInput" id="addRoom_logoInput" required="required" accept=".jpg,.png,.jpeg" onchange="preview(this)" />点击这里上传logo
                    </a>
                    <div id="preview"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="button" class="btn btn-primary" id="addRoomSave">保存</button>
            </div>
        </div>
    </div>
</div>


<!--编辑房间信息模态框-->
<div class="modal fade bs-editroom-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="editRoomModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="loading hidden"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><strong>房间信息</strong></h4>
            </div>
            <div class="modal-body" id="editRoomModalBody">
                    <div class="form-group">
                        <label for="roomName">房间名</label>
                        <input type="text" class="form-control" id="editRoom_nameInput" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="interviewerName">面试官姓名</label>
                        <input type="text" class="form-control" id="editRoom_interviewerNameInput" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="interviewerEmail">面试官邮箱</label>
                        <input type="email" class="form-control" id="editRoom_interviewerEmailInput" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="interviewStartTime">面试开始时间</label>
                        <div class="input-group date form_datetime col-md-5" data-link-field="interviewStartTime">
                            <input class="form-control" size="24" type="text" value="" id="editRoom_interviewStartTimeInput" name="interviewStartTime" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                    <a class="a-upload">
                        <input type="file" name="editRoom_logoInput" id="editRoom_logoInput"  accept=".jpg,.png,.jpeg" onchange="editpreview(this)" />点击这里上传logo
                    </a>
                    <div id="editpreview"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="button" class="btn btn-primary" name="" id="editRoomSave">保存</button>
            </div>
        </div>
    </div>
</div>

<!--发送邮件给主考官信息编辑模态框-->
<div class="modal fade bs-sendEmail-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="sendEmailToInterviewerModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="loading hidden"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><strong>向面试官发送邀请邮件</strong></h4>
            </div>
            <div class="modal-body" id="sendEmailToInterviewerModalBody">
                    <div class="form-group">
                        <label for="roomName">面试房间名</label>
                        <input type="text" class="form-control" id="sendEmail_roomName" id="editModalRoomNameInput" value="" placeholder="" readonly>
                    </div>
                    <div class="form-group">
                        <label for="interviewerEmail">收件人邮箱</label>
                        <input type="email" class="form-control" id="sendEmail_interviewerEmail" value="" placeholder="" readonly>
                    </div>
                    <div class="form-group">
                        <label for="emailContext">邮件内容</label>
                        <input type="text" class="form-control" id="sendEmailToInterviewer_emailContext" value="" placeholder="">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                <button type="button" class="btn btn-primary" name="" id="sendEmailToInterviewerSave">发送</button>
            </div>
        </div>
    </div>
</div>


{% load static from staticfiles %}
<script src="{% static "js/Lib/bootstrap-datetimepicker.js" %}"></script>
<script src="{% static "js/Lib/bootstrap-datetimepicker.fr.js" %}"></script>
<script src="{% static "js/Lib/bootstrap-datetimepicker.zh-CN.js" %}"></script>

<script src="{% static "js/Lib/ajaxfileupload.js" %}"></script>
<script src="{% static "js/HR/roomManage.js" %}"></script>

